<header class="site-header" role="banner">
  <div class="header">
    <div class="mobile-logo">
      <img src="/img/static/static-mobilelogo.png" alt="">
    </div>
    <div class="logo">
      <img src="/img/static/static-homelogo.png" />
    </div>
    <div class="mobile-nav">
      <img src="/img/static/static-mobilenav.png" alt="">
    </div>
    <div class="menu">
      <ul>
        {% assign sorted_pages = site.pages | sort:"order" %} {% for my_page in sorted_pages %} {% if my_page.title %}
        <li>
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        </li>
        {% endif %} {% endfor %}
      </ul>
      <div class="exit">
        <img src="/img/static/static-exit.png" alt="">
      </div>
    </div>
  </div>
</header>