<section id="contact" class="section section-contact">
    <div class="container">
        <div class="title">Want to work with us?</div>
        <div class="text">Ready to take your business to next level? Our team will contact you shortly. </div>
        <div class="form">
            <form method="post" action="#">
                <div class="field email">
                    <input type="email" id="email" name="email"  placeholder="Enter your email"/>
                </div>
                <div class="cta">
                    <button type="submit" class="btn btn-primary">></button>
                </div>
            </form>
        </div>

        <div class="indicator-message">
            <div class="send-success">
                ההודעה נשלחה בהצלחה
            </div>

            <div class="send-error">
                ההודעה לא נשלחה
            </div>
        </div>
    </div>
</section>    