.page-about {
    font-family: 'Playfair Display', serif;
    .page {
        background-image: url(/img/about/about-background.png);
        background-attachment: fixed;
        .page-title{
            padding-bottom: 0px;
        }
        .section.about {
            max-width: 650px;
            margin: auto;
            .container {
                .page-content {
                    @include media ($xldesktop) {
                        /*margin-bottom: 200px;*/
                    }
                }
                .subsection-container {
                    text-align: center;
                    margin-bottom: 25px;
                    margin-top: 25px;
                    .about-subsection {
                        display: inline-block;
                        text-transform: capitalize;
                        a {
                            font-size: 14px;
                            font-family: 'Montserrat', sans-serif;
                            margin-left: 25px;
                            margin-right: 25px;
                            color: rgba(255, 255, 255, 0.7);
                            text-decoration: none;
                            transition: all $base-duration $base-timing;
                            &:hover{
                                color: $blue;
                            }
                        }
                    }
                }
                .about-content {
                    p {
                        margin-bottom: 10px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        @include media ($tablet) {
                            font-size: 19px;
                            margin-bottom: 20px;
                        }
                        @include media ($desktop) {
                            margin-bottom: 40px;
                        }
                    }
                }
            }
        }
    }
}