.page-about {
    font-family: 'Playfair Display', serif;
    background-image: url(/img/about/about-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    .page {
        .page-title {
            padding-bottom: 0px;
        }
        .page-content{
            margin-top: 40px;
        }
        .section.about {
            max-width: 650px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 120px;
            .container {
                .page-content {
                    @include media ($xldesktop) {
                        /*margin-bottom: 200px;*/
                    }
                }
                // .subsection-container {
                //     text-align: center;
                //     margin-bottom: 25px;
                //     margin-top: 25px;
                //     .about-subsection {
                //         display: inline-block;
                //         text-transform: capitalize;
                //         a {
                //             font-size: 16px;
                //             font-family: 'Palanquin', sans-serif;
                //             margin-left: 25px;
                //             margin-right: 25px;
                //             color: rgba(255, 255, 255, 0.7);
                //             text-decoration: none;
                //             transition: all $base-duration $base-timing;
                //             &:hover {
                //                 color: $blue;
                //             }
                //         }
                //     }
                // }
                .about-content {
                    p {
                        @extend .element-margin;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        @include media ($tablet) {
                            font-size: 19px;
                        }
                        @include media ($desktop) {
                        }
                    }
                }
            }
        }
    }
}