.page-about {
    font-family: 'Playfair Display', serif;
    background-image: url(/img/about/about-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    .page {
        .page-title {
            padding-bottom: 0px;
        }
        .page-content{
            margin-top: 40px;
        }
        .section.about {
            max-width: 650px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 120px;
            .container {
                .about-content {
                    p {
                        @extend .element-margin;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        @include media ($tablet) {
                            font-size: 19px;
                        }
                        @include media ($desktop) {
                        }
                    }
                }
            }
        }
    }
}