.page-contact {
    background-image: url(/img/contact/contact-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    .section-contact {
        margin-bottom: 90px;

        @include media ($tablet) {
            text-align: center;
        }

        .info {
            text-align: left;
            margin-bottom: 50px;
            @include media ($tablet) {
                display: inline-block;
                vertical-align: top;
            }
            .logo {
                text-transform: uppercase;
                color: $blue;
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 15px;
                @include media ($tablet) {
                    font-size: 24px;
                }
            }
            .address {
                font-size: 16px;
                margin-bottom: 20px;
                @include media ($desktop) {}
            }
            .phone {
                background-repeat: no-repeat;
                background-image: url("/img/contact/contact-phone.png");
                padding-left: 35px;
                background-position: top 2px left;
                margin-top: 50px;
                a {
                    text-decoration: none;
                    color: $white;
                }
            }
            .fax {
                background-repeat: no-repeat;
                background-image: url("/img/contact/contact-fax.png");
                padding-left: 35px;
                background-position: top 2px left;
                margin-top: 30px;
            }
            .email {
                background-repeat: no-repeat;
                background-image: url("/img/contact/contact-mail.png");
                padding-left: 35px;
                background-position: top 6px left;
                margin-top: 30px;
                a {
                    text-decoration: none;
                    color: $white;
                }
            }
        }
        .contact-form {
            @include media ($tablet) {
                display: inline-block;
                vertical-align: top;
                margin-left: 150px;
                width: 370px;
            }
            .field {
                width: 100%;
                textarea#message {
                    padding-top: 15px;
                    padding-left: 20px;
                    margin-bottom: 20px;
                    overflow: hidden;
                    resize: none;
                }
                input {
                    padding-left: 20px;
                    margin-bottom: 20px;

                    &.error {
                        border-color: $red; 
                    }
                }
                label {
                    display: none !important;
                }
            }
            .cta-button {
                button {
                    width: 100%;
                    background-image: url("/img/contact/contact-buttarrow.png");
                    background-repeat: no-repeat;
                    height: 60px;
                    font-size: 20px;
                    background-position: right 25px bottom 25px;
                }
            }
        }
        .indicator-message {
            margin-top: 20px;
            
            .send-success, .send-error {
                display: none;
            }
        }
    }
}