header.site-header {
    a {
        color: $base-font-color;
        text-decoration: none;
        transition: color $base-duration $base-timing;

        &:active,
        &:focus,
        &:hover {
            color: shade($color-primary, 25%);
        }
    }
}

.page-content {
    .page-title {
        margin-top: 50px;
        margin-bottom: 50px;
        h1 {
            text-align: center;
            color: #ffffff;
            letter-spacing: 10px;
            text-transform: uppercase;
            font-size: 30px;
        }
    }

    .page-tagline {
        p {
            
        }
    }
}

footer.site-footer {}

.container {
    position: relative;
    @include outer-container;
    padding-left: 15px;
    padding-right: 15px;

    @include media ($tablet){
        padding-left: 20px;
        padding-right: 20px; 
    }
    @include media ($xldesktop){
        padding-left: 0;
        padding-right: 0; 
    }
}


