.page-philosophy {
    font-family: 'Playfair Display', serif;
    background-image: url(/img/about/about-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    .page {
        .page-title {
            padding-bottom: 0;
        }
        .page-tagline {
            @include media ($tablet) {
                max-width: 65%;
                margin-left: auto;
                margin-right: auto;
            }
            @include media ($desktop) {
                max-width: none;
            }
        }
    }
    .bullet {
        text-align: center;
        @extend .element-margin;
        @include media ($tablet) {}
        @include media ($desktop) {
            @include span-columns(6);
            @include omega(2n);
            text-align: left;
        }
        &:last-child{
            margin-bottom: 40px;
            @include media ($tablet){
                margin-bottom: 60px;
            }
            @include media ($desktop){
                margin-bottom: 100px;
            }
        }
        .title {
            text-transform: uppercase;
            color: $blue;
            font-size: 20px;
            h2 {
                @include media ($desktop) {
                    font-size: 22px;
                }
            }
        }
        .tagline {
            h3 {
                font-family: 'Playfair Display', serif;
                font-weight: 400;
            }
        }
        .text {
            @include media($tablet) {
                max-width: 65%;
                margin-left: auto;
                margin-right: auto;
            }
            @include media($desktop) {
                max-width: none;
            }
            p {
                text-align: justify;
                font-family: 'Palanquin', sans-serif;
                max-width: 450px;
            }
        }
    }
}