.page-philosophy {
    font-family: 'Playfair Display', serif;
    background-image: url(/img/about/about-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    .page {
        .page-title {
            padding-bottom: 0;
        }
    }
    .bullet {
        text-align: center;
        @extend .element-margin;
        @include media ($tablet) {}
        @include media ($desktop) {
            @include span-columns(6);
            @include omega(2n);
            text-align: left;
        }
        .title {
            text-transform: uppercase;
            color: $blue;
            font-size: 20px;
            h2 {
                    @include media ($desktop) {
                    font-size: 22px;
                }
            }
        }
        .tagline {
            h3 {
                font-family: 'Playfair Display', serif;
            }
        }
        .text {
            p {
                text-align: justify;
            }
        }
    }
}