.page-recent-transactions {
    background-image: url(/img/phil/philosophy-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    .page {
        .page-title {
            padding-top: 30px;
            margin-bottom: 150px;
            padding-bottom: 0;
        }
        .section.transactions {
            text-align: center;
            margin-top: -50px;
            p {
                font-family: 'Palanquin', sans-serif;
            }
            h2 {
                font-weight: 600;
            }
            .container {
                @include clearfix();
                position: relative;
                .transaction {
                    background-color: #FFFFFF;
                    margin-bottom: 120px;
                    position: relative;
                    @include media ($desktop) {
                        @include span-columns(4);
                        @include omega(3n);
                        width: 30%;
                        margin-right: 5%;
                    }
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        .text {
                            height: 130px;
                            p {
                                height: 130px;
                            }
                        }
                        .images {
                        }
                    }
                    &:before {
                        content: "";
                        width: 28px;
                        height: 28px;
                        background: $blue;
                        position: absolute;
                        border-radius: 100%;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        z-index: 1;
                    }
                    .title {
                        background-color: #000000;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 20px;
                        h2 {
                            margin: 0;
                            min-height: 48px;
                            font-size: 16px;
                            @include media ($tablet) {
                                font-size: 18px;
                            }
                            @include media ($desktop) {
                                font-size: 20px;
                            }
                        }
                    }
                    .year {
                        position: absolute;
                        top: -50px;
                        transform: translateX(-50%) translateY(-50%);
                        left: 50%;
                        p {
                            font-family: 'Playfair Display', serif;
                            font-size: 40px;
                        }
                    }
                    .status {
                        p {
                            font-size: 30px;
                            background-color: #000000;
                            text-transform: uppercase;
                            color: $blue;
                            padding-top: 10px;
                            margin-bottom: 0;
                        }
                    }
                    .images,
                    .text {
                        background-color: #FFFFFF;
                        color: $blue;
                        height: 60px;
                        position: relative;
                        p {
                            margin: 0;
                            position: absolute;
                            width: 100%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 16px;
                            // height: 60px;
                        }
                    }
                    .images {
                        padding-top: 30px;
                        padding-bottom: 30px;
                        margin-left: auto;
                        margin-right: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-flow: row;
                        flex-wrap: wrap;
                        img {
                            vertical-align: middle;
                            margin-left: 10px;
                            margin-right: 10px;
                            max-width: 124px;
                            height: auto;
                            filter: grayscale(100%);
                            display: inline-block;
                        }
                        /*img + img{
                    margin-left: 5px;
                }*/
                    }
                    .text {
                        background-color: #000000;
                        height: 130px;
                        p {
                            padding-left: 15px;
                            padding-right: 15px;
                            height: 147px;
                        }
                    }
                    .images {
                        height: 147px;
                    }
                }
            }
        }
    }
}