.page-services {
    background-image: url("/img/services/service-background.jpg");
    background-attachment: fixed;
    background-size: cover;
    .page {
        .service {
            margin-bottom: 40px;
            text-align: center;
            @include media ($tablet) {
                text-align: left;
            }
            @include media ($desktop) {
                @include span-columns(6);
                @include omega(2n);
            }
            .title {
                text-transform: uppercase;
                color: $blue;
                font-size: 16px;
                @include media ($tablet) {
                    display: inline-block;
                    vertical-align: middle;
                }
                @include media ($desktop) {
                    font-size: 22px;
                }
                p {
                    font-family: 'Palanquin', sans-serif;
                    font-weight: 600;
                    @include media ($tablet) {
                        font-size: 19px;
                    }
                    @include media ($desktop) {
                        font-size: 22px;
                    }
                }
            }
            .text {
                font-family: 'Playfair Display', serif;
                text-align: left;
                margin-bottom: 10px;
                line-height: 1.667;
                margin-top: 10px;
                @include media ($tablet) {}
                @include media ($desktop) {}
                li {
                    background-image: url("/img/services/service-bullet.png");
                    background-repeat: no-repeat;
                    background-position: left top 11px;
                    padding-left: 20px;
                    margin-bottom: 7px;
                }
            }
            .image {
                max-width: 100px;
                margin-left: auto;
                margin-right: auto;
                @include media ($tablet) {
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 20px;
                }
                @include media ($desktop) {}
                img {
                    @include media ($tablet) {
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }
            }
            &:first-child{
                margin-top: 60px;
                @include media ($desktop){
                    margin-top: 0;
                }
            }
        }
    }
}