.widget-contact {
    .section-contact {
        .form {
            .cta {
                .btn {
                    width: 40px;
                    height: 40px;
                    padding: 0;     
                }
            }
        }
    }
}