---
layout: default
---

<div class="page">
  <header class="page-header">
    <div class="container">
      <div class="page-title">
        <h1>{{ page.title | escape }}</h1>
      </div>
        <div class="subsection-container">
          {% assign sorted_pages = site.pages | sort:"order" %} 
          {% for my_page in sorted_pages %} 
              {% if my_page.url contains "/about/" %}
                <div class="about-subsection {% if page.url == my_page.url %}active{% endif %}">
                  <a href="{{ my_page.url | relative_url }}">
                    {% if my_page.url == "/about/" %}
                      Overview
                    {% else %}
                      {{ my_page.title | escape }}
                    {% endif %}
                  </a>
                </div>
              {% endif %}
          {% endfor %}
        </div>
      {% if page.tagline %}
      <div class="page-tagline">
        <p>{{ page.tagline | escape }}</p>
      </div>
      {% endif %}
    </div>
  </header>
  <div class="content">
    {{ content }}
  </div>
</div>