---
layout: page
---

<section id="contact" class="section section-contact advanced">
  <div class="container">
    <div class="info">
      <div class="logo">CINCOPA</div>
      <div class="address">
        {{ site.address  }}
      </div>
      <div class="phone">{{ site.phone }}</div>
      <div class="fax">{{ site.fax }}</div>
      <div class="email">{{ site.email }}</div>
    </div>
    <div class="contact-form">
      <form method="post" action="#">
        <div class="field name">
          <input type="text" id="name" name="name" placeholder="Full Name *" />
        </div>
        <div class="field email">
          <input type="email" id="email" name="email" placeholder="Email *" />
        </div>
        <div class="field phone">
          <input type="text" id="phone" name="phone" placeholder="Phone *" />
        </div>
        <div class="field company">
          <input type="text" id="company" name="company" placeholder="Company *" />
        </div>
        <div class="field message">
          <textarea name="text" id="message" placeholder="Message *"></textarea>
        </div>
        <div class="cta-button">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <div class="indicator-message">
      <div class="send-success">
        ההודעה נשלחה בהצלחה
      </div>
      <div class="send-error">
        ההודעה לא נשלחה
      </div>
    </div>
  </div>
</section>