---
layout: page
---

<section class="section hero">
    <div class="container">
        <div class="logo">
                <img src="/img/home/home-logo.png"/>
        </div>
        <div class="page-title">
            <h1>{{ site.tagline }}</h1>
        </div>
        <div class="page-tagline">
            <p>Tailoring creative financing solutions for leading international clients.</p>                
        </div>
        <div class="page-scroll">
            <p>Scroll down</p>
        </div>
    </div>
</section>

<section class="section about-us">
    <div class="container">
        <div class="title">
            <h2>{{ page.about-us.title }}</h2>
        </div>
        <div class="text">
            <p>{{ page.about-us.text }}</p>
        </div>
        <div class="read-more">
            <a href="{{ page.about-us.page }}">Read more</a>
        </div>
    </div>
</section>

<section class="section services">
    <div class="container">
        <div class="title">
            <h2>{{ page.services.title }}</h2>
        </div>
        <div class="text">
            <p>{{ page.services.text }}</p>
        </div>
        <div class="our-services">
            {% for service in page.services.our-services %}
            <div class="service">
                <div class="image">
                    <img src="{{service.image}}"/>
                </div>
                <div class="title">
                    <p>{{service.title}}</p>
                </div>
            </div>
            {% endfor %} 
        </div>
        <div class="read-more">
            <a href="{{ page.services.page }}">Read more</a>
        </div>
    </div>
</section>

<section class="section recent-transactions">
    <div class="container">
        <div class="title">
            <h2>{{ page.recent-transactions.title }}</h2>
        </div>
        <div class="text">
            <p>{{ page.recent-transactions.text }}</p>
        </div>
        <div class="transactions">
            {% for transaction in page.recent-transactions.transactions %}
                <div class="transaction">
                    <p>{{transaction.year}}</p>
                    <p>{{transaction.status}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="read-more">
            <a href="{{ page.transaction.page }}">Read more</a>
        </div>
    </div>
</section>