---
layout: page
---

<section class="section teammates">
    <div class="container">
        {% for teammate in page.team-mates %}
        <div class="teammate">
            <div class="image">
                <img src="{{teammate.image}}" />
            </div>
            <div class="info">
                <div class="name">
                    <h2>{{teammate.name}}</h2>
                </div>
                <div class="title">
                    <h3>{{teammate.title}}</h3>
                </div>
                <div class="icon-image">
                    <a href="{{teammate.social.linkedin}}"><img src="/img/team/team-in.png" /></a>
                </div>
                <div class="text">
                    {{teammate.text | markdownify}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>