@import "../neat/neat-helpers";

// Neat Overrides
$column: 130px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1000px;

// Define your breakpoints
//$xldesktop: new-breakpoint(min-width 1685px 12);
$desktop: new-breakpoint(min-width 1024px 12);
$tablet: new-breakpoint(min-width 768px 4);
$mobile: new-breakpoint(min-width 320px 2);