@import "../neat/neat-helpers";

// Neat Overrides
$column: 45.833px;
$gutter: 450px;
$grid-columns: 12;
$max-width: 1000px;

// Define your breakpoints
$xldesktop: new-breakpoint(min-width 1050px 12);
$desktop: new-breakpoint(min-width 1000px 12);
$tablet: new-breakpoint(min-width 768px 4);
$mobile: new-breakpoint(min-width 320px 2);