// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 30px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #0299e8;
$white: #ffffff;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$red: #a90808;

// Font Colors
$action-color: $blue;
$base-font-color: $white;
$color-primary: $blue;

// Border
$base-border-color: rgba(255,255,255,0.4);
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #000000;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Buttons
$all-buttons:  '.btn',
               'a.btn',
               'button',
               'input[type="button"]',
               'input[type="reset"]',
               'input[type="submit"]';
